<section class="breadcrumbs">
  <div class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-md-8">
          <h1>About Us<small> : need help, support or advise?</small></h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="gmap">
          <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=&amp;daddr=%E0%B8%96%E0%B8%99%E0%B8%99%E0%B9%82%E0%B8%8A%E0%B8%84%E0%B8%8A%E0%B8%B1%E0%B8%A2+4&amp;hl=th&amp;geocode=FZvy0gAdX-7-BQ&amp;sll=13.823328,100.596013&amp;sspn=0.018586,0.033023&amp;mra=ls&amp;ie=UTF8&amp;ll=13.823328,100.596013&amp;spn=0.018586,0.033023&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=&amp;daddr=%E0%B8%96%E0%B8%99%E0%B8%99%E0%B9%82%E0%B8%8A%E0%B8%84%E0%B8%8A%E0%B8%B1%E0%B8%A2+4&amp;hl=th&amp;geocode=FZvy0gAdX-7-BQ&amp;sll=13.823328,100.596013&amp;sspn=0.018586,0.033023&amp;mra=ls&amp;ie=UTF8&amp;ll=13.823328,100.596013&amp;spn=0.018586,0.033023&amp;t=m" style="color:#0000FF;text-align:left">ดูแผนที่ขนาดใหญ่ขึ้น</a></small>
        </div>
      </div>
    </div>
    <div class="row">
      <section class="pull-left col-md-8" id="page-sidebar">
        <form action="#" method="post">
          <fieldset>
            <legend><h3> Leave Your Message </h3> </legend>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="yourname"> YourName: </label>
                  <input type="text" class="form-control" id="yourname" name="yourname" placeholder="your name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email"> Email: </label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="message"> Message: </label>
                  <textarea class="form-control" rows="10"  id="message" name="message" placeholder="message"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input id="submit_btn" class="form-button btn btn-primary btn-large" type="submit" value="Send Message!" name="submit">
              </div>
            </div>
          </fieldset>
        </form>
        <hr />
      </section>
      <!--sidebar-->
      <aside class="pull-right col-md-4" id="sidebar">
        <!--address-->
        <section>
          <h3>Address</h3>
          <address>
            <p>
            <i class="fa fa-map-marker fa-fw"></i> Street Name 432/2, London, 90210<br>
            <i class="fa fa-phone fa-fw"></i> (123) 456-7890<br>
            <i class="fa fa-mobile fa-fw"></i> (123) 456-7890<br>
            <i class="fa fa-envelope fa-fw"></i> <a href="mailto:#">info@email.com</a>
            </p>
          </address>
        </section>
        <section>
          <h3>Business Hour</h3>
          <ul class="unstyled">
            <li class="clearfix">Monday - Fiyday:<p class="pull-right">9 am  to 6 pm</p></li>
            <li class="clearfix">Saturday:<p class="pull-right">10 am  to 4 pm</p></li>
            <li class="clearfix">Sunday:<p class="pull-right">Closed</p></li>
          </ul>
        </section>
      </aside>
    </div>
  </div>    
</section>
